@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600;700&display=swap");

* {
	font-family: "Source Code Pro", monospace;
}

body {
	background-image: url("https://will-flores1.github.io/pokemon-turn-timer/assets/pokemon-background.jpeg");
	background-size: 100%;
	background-repeat: repeat;
	background-position: center center;
}

#app {
	text-align: center;
	font-family: Arial, sans-serif;
	margin-top: 50px;
}

#timer {
	font-size: 180px;
	color: #121212;
	margin: 20px;
}

button {
	padding: 10px 20px;
	margin: 5px;
	font-size: 18px;
	cursor: pointer;
}

button:active {
	background-color: #f0f0f0;
	transform: scale(0.95);
	border: 1px solid #aaa;
}

.active-button {
	background-color: #f0f0f0;
	transform: scale(0.95);
	border: 1px solid #aaa;
	transition: all 0.2s;
}

.hidden {
	display: none;
}

@media (max-width: 768px) {
	#timer {
		font-size: 120px;
	}
}
