@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600;700&display=swap");

* {
	font-family: "Source Code Pro", monospace;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative; /* This ensures the pseudo-element is relative to the body */
	/* Other styles, but remove background-image from here */
	width: 100%;
	height: 100vh;
	background-size: 100%;
	background-repeat: repeat;
	background-position: center center;
}

body::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url("https://will-flores1.github.io/pokemon-turn-timer/assets/pokemon-background.jpeg");
	background-size: 100%;
	background-repeat: repeat;
	background-position: center center;
	opacity: 0.8; /* Set desired opacity level, 0.5 is 50% opacity */
	z-index: -1; /* This places the background behind the body content */
}

#app {
	padding-top: 120px;
	text-align: center;
	font-family: Arial, sans-serif;
}

#timer {
	font-size: 180px;
	color: #121212;
	margin: 20px;
}

button {
	padding: 10px 20px;
	margin: 5px;
	font-size: 18px;
	cursor: pointer;
}

button:active {
	background-color: #f0f0f0;
	transform: scale(0.95);
	border: 1px solid #aaa;
}

.active-button {
	background-color: #f0f0f0;
	transform: scale(0.95);
	border: 1px solid #aaa;
	transition: all 0.2s;
}

#currBtn {
	display: inline-block;
}

.keymap {
	font-size: 12px;
	max-width: 300px;
	margin: 0 auto;
	color: hsl(0, 0%, 20%);
}
.keymap {
	line-height: 1.5;
	display: flex;
	flex-direction: column;
}
.keymap > div {
	font-size: 14px;
}
.keymap > div:not(:last-child) {
	margin-bottom: 6px;
}

.key {
	/* font-size: 10px; */
	font-weight: bold;
	background-color: hsl(0, 0%, 84%);
	padding: 1px 4px;
	border: 1px solid hsl(0, 0%, 70%);
	border-radius: 2px;
	box-shadow: inset -2px -1px 100px hsla(0, 0%, 25%);
	box-shadow: 1px 1px 0.1px 1px hsla(0, 0%, 0%, 0.2);
}

.hidden {
	display: none;
}

@media (max-width: 768px) {
	#timer {
		font-size: calc(50px + 13.390625vw);
	}
}
